/* Estilización del título*/
main h1{
    text-transform: lowercase;
}

.elementos {
    display: inline;
}

.elemento-segmento {
    margin-bottom: 16px;
    margin-top: 16px ;
    height: fit-content;
    display: flex;
}

.elemento-info {
    display: flex;
    margin-right: 2%;
    width: 68%;
    flex: 1;
}

.elemento-encabezado h2{
    margin-top: 16px;
    margin-right: 16px;
    width: 160px;
}

.elemento-encabezado p{
    font-size: 80%;
    margin-top: -16px;
}

.elemento-foto {
    margin-top: 16px;
    width: 120px;
    height: 120px;
}

.elemento-foto img {
    height: 100%;
    width: 100%;
    border-radius: 25%;
    object-fit: cover;
}

/* El formato de los participantes no se adaptó bien al de las publicaciones.
Por tanto, se probará con uno algo distinto*/

.libro-segmento{
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0;
}

.libro-foto{
    width: 30%;
    margin-right: 4%;
    height: 280px;
}

.libro-foto img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.libro-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    width: 66%;
}

.libro-encabezado h2{
    margin-top: 0;
}

.libro-encabezado p{
    font-size: 80%;
    margin-top: -16px;
}

.libro-enlace{
    padding-top: 16px;
}

/* Estos te servirán para ordenar algunos elementos*/

.completo{
    width: 100%;
}

.blog{
    align-items: start;
    margin-bottom: 16px;
}

